
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/Assets/Admin/css/about.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
          rel="stylesheet" />
    <link rel=“stylesheet”
          href=“https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css”>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <script src="https://kit.fontawesome.com/07d5fb8cf6.js"
            crossorigin="anonymous"></script>
</head>
<body>
    <div data-include="header.html"></div>
    <div>
        <div class="grid-content">
            <div class="grid-content-left">
                <h2>Our Story</h2>
                <p>
            </div>
            <div class="grid-content-right">
                <img src="~/Assets/Admin/img/Together.jpg" />
            </div>
        </div>
        <div class="overall">
            <div class="overall-detail">
                <div class="wrapper">
                    <div class="icon-circle">
                        <div class="icon icon-1"></div>
                        <div class="circle active"></div>
                    </div>
                </div>
                <h2>10.5K</h2>
                <p>Sallers active our site</p>
            </div>
            <div class="overall-detail">
                <div class="wrapper">
                    <div class="icon-circle">
                        <div class="icon icon-2"></div>
                        <div class="circle active"></div>
                    </div>
                </div>
                <h2>33K</h2>
                <p>Monthly Produduct Sale</p>
            </div>
            <div class="overall-detail">
                <div class="wrapper">
                    <div class="icon-circle">
                        <div class="icon icon-3"></div>
                        <div class="circle active"></div>
                    </div>
                </div>
                <h2>45.5k</h2>
                <p>Customer active in our site</p>
            </div>
            <div class="overall-detail">
                <div class="wrapper">
                    <div class="icon-circle">
                        <div class="icon icon-4"></div>
                        <div class="circle active"></div>
                    </div>
                </div>
                <h2>25K</h2>
                <p>Anual gross sale in our site</p>
            </div>
        </div>
        <div class="service">
            <div class="service-detail">
                <div class="wrapper">
                    <div class="icon-circle">
                        <div class="icon icon-5"></div>
                        <div class="circle active"></div>
                    </div>
                </div>
                <h2>FREE AND FAST DELIVERY</h2>
                <p>Free delivery for all orders over $140</p>
            </div>
            <div class="service-detail">
                <div class="wrapper">
                    <div class="icon-circle">
                        <div class="icon icon-6"></div>
                        <div class="circle active"></div>
                    </div>
                </div>
                <h2>24/7 CUSTOMER SERVICE</h2>
                <p>Friendly 24/7 customer support</p>
            </div>
            <div class="service-detail">
                <div class="wrapper">
                    <div class="icon-circle">
                        <div class="icon icon-7"></div>
                        <div class="circle active"></div>
                    </div>
                </div>
                <h2>MONEY BACK</h2>
                <p>We reurn money within 30 days</p>
            </div>
        </div>
    </div>
    <div data-include="footer.html"></div>
    <script src="~/Assets/Admin/js/header-footer.js"></script>
</body>
</html>



